{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.username }}!</h1>
    {% for post in posts %}
    <div<p><b>{{ post.username }}:</b><br>{{ post.body }}</p></div>
    {% endfor %}
{% endblock %}